<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="primary">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button routerLink="/register">Registrarse</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="header">
        <h1>Iniciar sesión</h1>
        <img src="assets/logo01.png" alt="">
    </div>

    <form id="form">
        <ion-item class="ion-margin-bottom">
            <ion-input type="text" placeholder="Nombre de usuario"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-bottom">
            <ion-input type="text" placeholder="Contraseña"></ion-input>
        </ion-item>
        <ion-button expand="block" shape="round">
            Iniciar sesión
        </ion-button>
    </form>

    
</ion-content>

