<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="primary" routerLink="/login">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button routerLink="/login">Iniciar sesión</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
      <h1>Registrarse</h1>
  </div>

  <form id="form">
      <ion-item class="ion-margin-bottom">
          <ion-input type="text" placeholder="Nombre de usuario"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input type="text" placeholder="Apellido paterno"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
          <ion-input type="text" placeholder="Apellido materno"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
          <ion-input type="text" placeholder="Nombre(s)"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input type="text" placeholder="Dirección"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input type="text" placeholder="Teléfono"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input type="text" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input type="text" placeholder="Confirmar contraseña"></ion-input>
      </ion-item>
      
      <ion-button expand="block" shape="round">
          Enviar datos
      </ion-button>
  </form>

  
</ion-content>

